extends placeholder-layout

block content
	//major container
	div.fullWidth
		div.contentContainer.summaryListWidth
			// breadcrumbs container
			div.breadcrumbsContainer.mainHeader.verticalMiddleContent
				div
					div(style="display:none;")
						p(id="contentid")=breadcrumbs.currentid
						p(id="contentname")=breadcrumbs.currentname
						p(id="contenttype")=breadcrumbs.currenttype
					span
						//a(href='/school/'+breadcrumbs.schoolid).loginLinks=breadcrumbs.schoolname
						span=breadcrumbs.schoolname
						b=" > "
						//a(href='/department/'+breadcrumbs.departmentid).loginLinks=breadcrumbs.departmentname
						span=breadcrumbs.departmentname
						b=" > "
						a(href='/major/'+breadcrumbs.majorid).loginLinks=breadcrumbs.majorname
						b=" > "
						a(href='/course/'+breadcrumbs.courseid).loginLinks=breadcrumbs.coursename
			div.coolBorder
				if user
					div.fullWidth.centerContent
						a(id="addToHotbar").btn.btn-success.fullWidth='Add '+breadcrumbs.currenttype+' to hotbar'
				if result.length==0
					p There are no summaries yet.
				else
					div(style="padding-left:13px; padding-right:13px; margin-top:5px;").horizontalAlignment
						div.col-md-1 
							b Rating:
						div.col-md-4 
							b Author:
						div.col-md-2 
							b Attended:
						div.col-md-3
							b Teacher:
						div.col-md-2 
							b Modified:
					each summary in result
						// a course
						a(href='/summary/'+summary.id).btn.btn-info.courseButton.fullWidth.leftContent
							//div.inline=course.identificationcode+" : "
							//div.inline=course.coursename
							//
							div.col-md-1.rightContent=summary.voteCount
							div.col-md-4=summary.author.fullName
							div.col-md-2=summary.attendanceDate
							div.col-md-3=summary.teacherName
							div.col-md-2=summary.dateModified
				if user
					a(id="addNewSummaryFormOpen" href="/summary/create/"+breadcrumbs.currentid).btn.btn-success.courseButton.fullWidth.centerContent Add new summary for this course
				else
					a(href="/login").btn.btn-success.fullWidth.courseButton Login to create a new summary!

			// container for the comment module
			div.coolBorder Here is the chat module


	script(src="/javascripts/frontend-course.js")