extends placeholder-layout

block content
	//major container
	div.fullWidth
		div.contentContainer
			// breadcrumbs container
			div.breadcrumbsContainer.mainHeader.verticalMiddleContent
				div
					div(style="display:none;")
						p(id="contentid")=breadcrumbs.currentid
						p(id="contentname")=breadcrumbs.currentname
						p(id="contenttype")=breadcrumbs.currenttype
					span.breadcrumbsText
						//a(href='/school/'+breadcrumbs.schoolid).loginLinks=breadcrumbs.schoolname
						span=breadcrumbs.schoolname
						b=" > "
						//a(href='/department/'+breadcrumbs.departmentid).loginLinks=breadcrumbs.departmentname
						span=breadcrumbs.departmentname
						b=" > "
						a(href='/major/'+breadcrumbs.majorid).loginLinks=breadcrumbs.majorname
				if user
					- var hasadded = false
					each major in hotbarelements.majors
						if major.elementid == breadcrumbs.currentid
							- hasadded = true
					if hasadded == false
						a(id="addToHotbar").btn.btn-sm.btn-danger.centerContent='Add this '+breadcrumbs.currenttype+' to hotbar'
					else 
						a(href='/account/removehotbarelement/'+breadcrumbs.currenttype+'/'+breadcrumbs.currentid).btn.btn-sm.btn-danger.centerContent='Remove this '+breadcrumbs.currenttype+' from hotbar'
			div.coolBorder
				h2(style="margin:0px;padding-bottom:0.7em;").fullWidth.centerContent Courses
				if result.length==0
					p There are no courses created for this major yet
				else
					div(style="padding-left:13px; padding-right:13px; margin-top:0px;margin-bottom:2em;")
						div.col-md-3 
							b ID code:
						div.col-md-9 
							b Course name:
					each course in result
						// a course
						a(href='/course/'+course.id).btn.btn-info.courseButton.fullWidth.leftContent
							div.col-md-3=course.identificationCode
							div.col-md-9=course.name
				if user
					a(id="addNewCourseFormOpen").btn.btn-success.courseButton.fullWidth.centerContent.lowButton Add new course to this major
					div(id="addNewCourseForm" href='javascript:void(0)' style="display:none;").squareBorder
						form
							fieldset.form-group 
								label(for="addNewCourseFormIdCode") Course identification code:
								input(id="addNewCourseFormIdCode" type="text" name="addNewCourseFormIdCode" placeholder="Course identification code" required).form-control
							fieldset.form-group 
								label(for="addNewCourseFormCourseName") Course name:
								input(id="addNewCourseFormCourseName" type="text" name="addNewCourseFormCourseName" placeholder="Course name" required).form-control
						div.horizontalAlignment
							a(id="addNewCourseFormSubmit" href='javascript:void(0)').form-control.btn-success.active.submitcancelbuttons Submit
							a(id="addNewCourseFormCancel" href='javascript:void(0)').form-control.btn-danger.active.submitcancelbuttons Cancel
				else
					a(href="/login").btn.btn-success.fullWidth.courseButton.lowButton Login to add new courses!

			// container for the comment module
			//div.coolBorder Here is the chat module


	script(src="/javascripts/frontend-major.js")